.menu>a{
    font-variant: small-caps;
    color:rgb(0, 0, 227);
    text-decoration:none
}
.menu>a:visited{
    color: indigo;

}
.menu>a:hover{
    color:indigo;
    text-decoration: underline;
}
