
.s1{
    font-size: 20px;
    color: red;
    }
.s2{
    font-size: 20px;
    color: green;
}
.s3{
    font-size: 20px;
    color: blue;
}
.s4{
    font-size: 30px;
}
strong{
    color: brown;
}